# Database Connection (PostgreSQL)
# For Docker Compose, use: postgresql://starline_admin:starline_password@db:5432/starline_travel_db?schema=public
DATABASE_URL="postgresql://starline_admin:starline_password@localhost:5432/starline_travel_db?schema=public"

# NextAuth.js Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-random-32-character-secret-key"

# Google OAuth Credentials (for social logins)
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Email Configuration (for booking alerts)
RESEND_API_KEY="re_your_api_key_here"
EMAIL_FROM="Starline Travel <bookings@starlinetravel.in>"
MONGODB_URI="mongodb://divi_1026:Divya@ac-v5ahkso-shard-00-00.ghy23v9.mongodb.net:27017,ac-v5ahkso-shard-00-01.ghy23v9.mongodb.net:27017,ac-v5ahkso-shard-00-02.ghy23v9.mongodb.net:27017/LMS?ssl=true&replicaSet=atlas-11dxho-shard-0&authSource=admin&retryWrites=true&w=majority&appName=CodingAdda"